easyrpg/easyrpg-player
easyrpg/package.json
easyrpg/package-lock.json
easyrpg/node_modules/
easyrpg/buildscripts/
easyrpg/player-js/
easyrpg.zip

# mkxp-z build sources
easyrpg/retroarch/
easyrpg/libretro-super/
easyrpg/emsdk/

# wasi-sdk-30 (mkxp-z ビルド用)
easyrpg/wasi-sdk-30/

# mkxp-z ビルドソース
easyrpg/mkxp-z-libretro-emscripten-src/
